body{
    margin: 0;
    height: 100vh;
}
.pane_flex {
    display: flex;
    flex: 1 1 0%;
    z-index: 0;
    overflow: auto;
}
.split_flex_row{
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}
.theme_flex_column{
    height:100vh;
    display:flex;
    padding:0!important;
    flex-direction:column;
    overflow:hidden
}
.resizer_controls {
    position: relative;
    flex: 0 1 auto;
    width: 2px;
    cursor: col-resize;
    background-color: var(--mdc-theme-background, #dedede);
    z-index: 1;
}
.resizer_controls_column {
    flex-direction:column;
    position:relative;
    cursor:row-resize;
    height:6px;
    width:auto;
    z-index: 1;
}
/**tab自适应宽度*/
.el-tabs {
    width: 100%;
}
/**清空tab标签下的间距*/
.el-tabs .el-tabs__header {
    margin: 0;
}
/**tab内容高度填充外层设置高度*/
.el-tabs .el-tabs__content,.el-tabs .el-tabs__content .el-tab-pane{
    height: 100%;
}